<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Pneuma Life City Church <%= title%></title>

    <!-- Favicon -->
    <link rel="icon" href="/img/new/logochurch.png">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Amaranth|Raleway|Arapey|Comfortaa|Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/Open+Sanscss?family=Roboto|Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style2.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163514247-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-163514247-1');
        </script>


</head>

<body>
    <!-- ##### Preloader ##### -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <!-- Line -->
        <div class="line-preloader"></div>
    </div>

    <!-- ##### Header Area Start ##### -->
     <!-- ##### Header Area Start ##### -->
     <header class="header-area" >

        <!-- ***** Top Header Area ***** -->
      
        <!-- ***** Top Header Area ***** -->

        <!-- ***** Navbar Area ***** -->
        <div class="crose-main-menu" >
            <div class="classy-nav-container breakpoint-off k" >
                <div class="container kk"  >
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="croseNav">

                        <!-- Nav brand -->
                        <div class="hide_main" style="position:relative; left:-30px;top:-3px;">
                                <a href="/" class="nav-brand" ><img src="/img/new/logotrans.png" class="" alt=""></a>
                        </div>
                        <div class="hide_phone" style="position:relative; left:-130px;">
                                <a href="/" class="nav-brand" ><img src="/img/new/logotrans.png" class="" alt=""></a>
                        </div>
                        <!-- <a href="/" class="nav-brand" ><img src="img/new/logotrans.png" class="hide_phone" style="margin-left:-1000px" alt=""></a> -->
                     

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                           


                              <div class="classynav hide_phone" style="background-color:white;margin-right:-100px; " >
                                <ul>
                                    <!-- <li><a href="/" class="btn crose-btn header-btn" ">Home</a></li> -->
                                   
                                    <!-- <li class="dropdown  dropdown-toggle" style="font-weight:bold; cursor:pointer" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ABOUT
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="/about">about us</a>
                                            <a class="dropdown-item" href="aboutpastor">About pastor Dafe</a>
                                        </div>
                                    </li> -->
                                </li>
                                <li><a href="/">home</a></li>
                                <li><a href="/about"  class="btn crose-btn header-btn" style="background-color: #CA3730">about us</a></li>
                                   <li><a href="/events">Events</a></li>
                                  
                                    <!-- <li><a href="/eventsout Pastor</a></li> -->
                                    <li><a href="/store">Store</a></li>
                                    <li><a href="/blog">Blog</a></li>
                                    <li><a href="/contact">contact us</a></li>
                                    <li><a href="/partnership" >partner</a></li>
                                </ul>

                                
                                <!-- Donate Button -->
                               

                            </div>

                            <div class="classynav " style="background-color:whitesmoke; " >
                                <div class="hide_main">
                                     <ul>
                                             <!-- <li><a href="/" class="btn crose-btn header-btn" ">Home</a></li> -->
                                            
                                             <!-- <li class="dropdown  dropdown-toggle" style="font-weight:bold; cursor:pointer" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ABOUT
                                                 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                     <a class="dropdown-item" href="/about">about us</a>
                                                     <a class="dropdown-item" href="aboutpastor">About pastor Dafe</a>
                                                 </div>
                                             </li> -->
                                             <li><a href="/about">about us</a></li>
                                            <li><a href="events">Events</a></li>
                                           
                                             <!-- <li><a href="/eventsout Pastor</a></li> -->
                                             <li><a href="/store">Store</a></li>
                                             <li><a href="/blog">Blog</a></li>
                                             <li><a href="/contact">contact us</a></li>
                                             <li><a href="/partnership" >partner</a></li>
                                         </ul>
                                </div>
 
 
                                 
                                 <!-- Donate Button -->
                                
 
                             </div>


                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>

            <!-- ***** Search Form Area ***** -->
            <div class="search-form-area" >
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="searchForm">
                                <form action="#" method="post">
                                    <input type="search" name="search" id="search" placeholder="Enter keywords &amp; hit enter...">
                                    <button type="submit" class="d-none"></button>
                                </form>
                                <div class="close-icon" id="searchCloseIcon"><i class="fa fa-close" aria-hidden="true"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Navbar Area ***** -->
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### About Us Area Start ##### -->
    <div class="about-us-area about-page section-padding-100" style="margin-top:-70px;">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-lg-5">
                    <div class="about-content">
                        <h4 class="hide_main" style="color:#CA3730">About PNEUMALIFE City Church</h4>
                        <h3 class="hide_phone" style="color:#CA3730">About PNEUMALIFE City Church</h3>
                        <p style="font-size:14px;text-align: justify">
                                 Pnuema life exist to build a people who are Christ centered and Spirit driven, taught to know God for themselves. Influencing individuals, cities and nations with the light of the glorious gospel as ambassadors of the kingdom.
                        </p> 
                          <div class="opening-hours-location mt-30 d-flex align-items-center">
                            <!-- Opening Hours -->
                            <div class="opening-hours">
                                <h6><i class="fa fa-clock-o"></i> Service Days </h6>
                                <p style="font-size:14px"><b>Midweek</b> - Wednesdays <br>  <br><b>Sunday</b><br> </p>
                            </div>
                            <!-- Location -->
                            <div class="location">
                                <h6><i class="fa fa-map-marker"></i> Location</h6>
                                <p style="font-size:14px;">Adj Rock Events Center, Along FUTA junction, Akure.</p>
                            </div>
                            
                        </div>
                            <br>
                            <span style="font-size:14px;font-weight:bold;"> Follow us on our social media platforms</span>
                           <div class="socialmedia">
                            <p>
                                <hr>
                                <a href="https://web.facebook.com/faithbreed.everywhere?_rdc=1&_rdr" target="_blank" style="padding-right:10px;color:white"> <i class="fa fa-facebook" aria-hidden="true"></i> : Faithbreed</a>
                                <a href="https://www.instagram.com/p/Bx4mOHHHYYC/?igshid=18xjn6j11xr0b" style="padding-right:10px;color:white"><i class="fa fa-instagram" aria-hidden="true"></i> : Pneumalife_cc</a>
                                <a href="https://twitter.com/pneumalife_cc" target="_blank" style="padding-right:0px;color:white"><i class="fa fa-twitter" aria-hidden="true"></i> :pneumalife_cc</a> </p>
                                 <hr>
                            </p>
                           </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="about-thumbnail">
                        <img src="img/slide/church.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container">

        <div class="row hide_phone">
            <div class="col-sm-4">
                    
            </div>
            <div class="col-sm-4">
                    
                    <h4 class="hide_phone">Our Mission</h4>
            </div>
              
        </div>

        <div class="row hide_main">
            <div class="col-sm-4">
                    
            </div>
            <div class="col-sm-4">
                    <h4 class="hide_main" style="line-height:30px;">Our Mission</h4>
                   
            </div>
              
        </div>


        <div class="row hide_phone">
            <div class="col-sm-4 imageleft ">
                    <img src="https://firebasestorage.googleapis.com/v0/b/faithbreed.appspot.com/o/mission%20website.jpg?alt=media&token=7daeb43f-6cca-48f9-9b9c-ebdf3c3dba70" class="mb-10 shadow-sm p-3 mb-1 bg-white rounded" alt="">
            </div>
           
           <div class="col-sm-7 flow-text hide_phone"  >
                <div>
                        <p style="font-size:15px">Pnuema life exist to build a people who are Christ centered and Spirit driven, taught to know God for themselves. Influencing individuals, cities and nations with the light of the glorious gospel as ambassadors of the kingdom. </p>
                      
           </div>     
            </div> 
        </div>

     <div style="padding:15px;">
        <div class="row hide_main shadow p-3 mb-5 bg-white rounded" style="padding:10px;">
            <div class="col-sm-4 imageleft " style="margin-left:5px;">
                    <img src="https://firebasestorage.googleapis.com/v0/b/faithbreed.appspot.com/o/mission%20website.jpg?alt=media&token=7daeb43f-6cca-48f9-9b9c-ebdf3c3dba70" style="border-radius:10px;" class="img-responsive" alt="">
            </div>
            <div class="col-sm-8 flow-text hide_main" style="margin-top: -20px;" >
                    <p style="font-size:14px;line-height: 30px;">Pnuema life exist to build a people who are Christ centered and Spirit driven, taught to know God for themselves. Influencing individuals, cities and nations with the light of the glorious gospel as ambassadors of the kingdom. </p>
                       
            </div> 
       
        </div>
     </div>





     <div class="row hide_phone">
        <div class="col-sm-4">
                
        </div>
        <div class="col-sm-4">
                
                <h4 class="hide_phone">Our Messages</h4>
        </div>
          
    </div>

    <div class="row hide_main">
        <div class="col-sm-4">
                
        </div>
        <div class="col-sm-4">
                <h4 class="hide_main" style="line-height:30px;">Our Messages</h4>
               
        </div>
          
    </div>


    <div class="row hide_phone">
        <div class="col-sm-4 imageleft ">
                <img src="https://firebasestorage.googleapis.com/v0/b/faithbreed.appspot.com/o/message%20website.jpg?alt=media&token=7980099e-0774-4618-9b69-59cf4d50a919" class="mb-10 shadow-sm p-3 mb-1 bg-white rounded" alt="">
        </div>
       
       <div class="col-sm-7 flow-text hide_phone"  >
            <div>
                    <p style="font-size:15px">We preach and teach the undiluted word of God, with focus on Christ who has restored hope, faith and love to the lost </p>
                  
       </div>     
        </div> 
    </div>

 <div style="padding:15px;">
    <div class="row hide_main shadow p-3 mb-5 bg-white rounded" style="padding:10px;">
        <div class="col-sm-4 imageleft " style="margin-left:10px;">
                <img src="https://firebasestorage.googleapis.com/v0/b/faithbreed.appspot.com/o/message%20website.jpg?alt=media&token=7980099e-0774-4618-9b69-59cf4d50a919" style="border-radius:10px;" class="img-responsive" alt="">
        </div>
        <div class="col-sm-8 flow-text hide_main" style="margin-top: -20px;" >
                <p style="font-size:14px;line-height: 30px;">We preach and teach the undiluted word of God, with focus on Christ who has restored hope, faith and love to the lost </p>
                   
        </div> 
   
    </div>
 </div>



       
    </div>

    
   
 

    <!-- ##### Team Members Area Start ##### -->
    <div class="team-members-area section-padding-1-0">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <!-- <div class="col-12">
                        <div class="section-heading">
                            <h2 style="color: #CA3730;" >MEET OUR PASTOR </h2>
                        </div>
                    </div>
                </div> -->

                <div class="row">
<!--                     
                    <div class="col-sm-9">
                        <p style="line-height:45px;font-size:14px;text-align:center">
                                Pastor Dafe Richard Iviahwo is an insightful teacher of God's word, consistently making the supernatural call, this has been proven by the shared testimonies of transformed lives . He is the President of Faithbreed global ministry and currently Pastors Pnuemalife City church.
                                His ministry, has been source of inspiration to many and he is still inspiring more.<br>
                                <p style="font-size:15px;font-weight:bold;text-align:center;">  Connect with our Pastor on social media platforms</p><br>

                                    <div class="socialmedia">
                                            <hr>
                                            <p><a href="https://web.facebook.com/iviahwo.edafe?_rdc=1&_rdr" target="_blank"  style="padding-right:30px;font-weight:bold"><i class="fa fa-facebook" aria-hidden="true"></i> : @Daferichard</a>
                                            <a href="https://instagram.com/dafe_richards/" target="_blank"  style="padding-right:30px;font-weight:bold"><i class="fa fa-instagram" aria-hidden="true"></i> : @Daferichards</a>
                                            <a href="mailto:info@faithbreed.org" target="_blank" style="padding-right:30px;font-weight:bold"><i class="fa fa-envelope" aria-hidden="true"></i> : info@faithbreed.org </a> </p>
                                            <hr> 
                                    </div>
                                
                        </p>
                    </div>   -->
                            
                </div>
            </div>
        </div><br><br>
    <!-- ##### Team Members Area End ##### -->

    <div class="">
        <img src="img/slide/meet our pastor.jpg" alt="">
</div>   
<div class="socialmedia">
    <hr>
    <p><a href="https://web.facebook.com/iviahwo.edafe?_rdc=1&_rdr" target="_blank"  style="padding-right:0px;"><i class="fa fa-facebook" aria-hidden="true"></i>: @Daferichard</a>
    <a href="https://instagram.com/dafe_richards/" target="_blank"  style="padding-right:5px;"><i class="fa fa-instagram" aria-hidden="true"></i>: @Daferichards</a>
    <a href="mailto:info@faithbreed.org" target="_blank" style="padding-right:0px;"><i class="fa fa-envelope" aria-hidden="true"></i>: info@faithbreed.org </a> </p>
    <hr> 
</div>
    <!-- ##### F>ooter Area Start ##### -->
    <footer class="footer-area bb hide_phone">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <p><b>Quick Links</b></p>
                    <div class="row">
                    <div class="col-sm-12">
                            <nav class="footer-menu" style="margin-top:-20px;" >
                                <ul>
                                    <li a href="/"><i class="fa fa-angle-double-right" style="font-size:14px;line-height:40px;" aria-hidden="true"></i> Home</a></li>
                                    <li><a href="/events class="fa fa-angle-double-right"  style="line-height:40px;" aria-hidden="true"></i> Event</a></li>
                                    <li><a href="/#about" ><i class="fa fa-angle-double-right"  style="line-height:40px;" aria-hidden="true"></i> About Us</a></li>
                                    <li><a href="/#gallery"><i class="fa fa-angle-double-right"  style="line-height:40px;" aria-hidden="true"></i> Gallery</a></li>
                                    <li><a href="/store"><i class="fa fa-angle-double-right"  style="line-height:40px;" aria-hidden="true"></i> Teachings</a></li>
                            </nav>
                        </div>
                       

                      
                    </div>
                    
                </div>
                <div class="col-sm-3">
                    <p><b>Get This</b></p>

                    <% for(var i = 0; i < 2; i++) { %>

                        <div class="single-latest-news" style="margin-top:-20px">
                            <a href="sermon/sermonPost/<%= sermons[i].id %>" style="font-size:14px; line-height: 40px;"><%= sermons[i].sermonTitle %></a>
                            <p style="font-size:14px;line-height: 40px;"> <i>By <%= sermons[i].sermonTeacher %> </i></p>
                        </div>

                    <% } %>



                    <!-- Single Latest News -->
                    <!-- <div class="single-latest-news">
                        <a href="sermons/Intentionalliving.mp3" style="font-size:14px; line-height: 40px;"> Intentional living</a>
                        <p style="font-size:14px;line-height: 40px;"> <i>By Pastor Dafe Richard</i></p>
                    </div> -->

                </div>
                <div class="col-sm-3">
                    <p><b>Contact Us</b></p>
                    <div class="contact-information" style="margin-top:-20px;">
                        <!-- <p><i class="fa fa-map-marker" aria-hidden="true"></i>FAITHBREED AUDITORIUM, ADJACENT ANCHORITE SCHOOL, FUTA JUNCTION</p> -->
                        <a href="callto:07061658590" style="font-size:14px;line-height: 50px;"><i class="fa fa-phone" style="color:#CA3730; margin-right:10px; " aria-hidden="true"></i>(+234)-706-1658-590</a><br>
                        <a href="mailto:info@faithbreed.org" style="font-size:14px;line-height: 50px;"><i class="fa fa-envelope" style="color:#CA3730; margin-right:10px"  aria-hidden="true"></i>info@faithbreed.org</a>
                        <p style="font-size:14px;line-height: 50px;" ><i class="fa fa-clock-o" style="font-size:14px;color:#CA3730;margin-right:10px;line-height: 40px;" aria-hidden="true"></i> Mon - Sun: 09.00am - 4.00pm</p>
                    
                    </div>
                </div>

                <div class="col-sm-3"  >
                        <p><b>Address </b></p>
                    <div style="margin-top:-10px;">
                             <p style="font-size:14px;line-height:25px;"> Faithbreed Auditiorium, Adjacent Anchorite School, FUTA Junction </p>
                    </div>

                </div>

               
        </div>
    </div>
        <div class="row" style="background-color:#120606;width:101.5%; padding:20px 0px" >
                <div class="col-sm-12" style="text-align:center">
                   <i style="line-height:30px;"> Now thanks be unto God, which always causeth us to triumph in Christ, and maketh manifest the savour of his knowledge by us in every place.... [ 2Corithians 2 vs 14 ]</i>
                   <div class="footer-social-icon">
                        <a href="https://web.facebook.com/faithbreed.everywhere?_rdc=1&_rdr" style="padding:0px 10px;"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/pneumalife_cc"><i class="fa fa-twitter" style="padding:0px 10px;" aria-hidden="true"></i></a>
                        <a href="mailto:info@faithbreed.org"><i class="fa fa-envelope" style="padding:0px 10px;" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/p/Bx4mOHHHYYC/?igshid=18xjn6j11xr0b"><i style="padding:0px 10px;" class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                   
                    
                        </div>
                 </button>
                </div>
       

    </footer>
    <footer class="hide_main footerphone">
        <div class="">
            <div>
                    <button id="button1" class="">Quick Links
                            <div class="float-right" id="linkplus1" style="padding-right:20px"> <i class="fa fa-plus"></i></div>
                            <div class="float-right" id="linkminus1" style="padding-right:20px"> <i class="fa fa-minus"></i></div>
                        <br>
                                    <div class="col-sm-12" id="space1">
                                            <nav class="footer-menu" style="margin-top:0px;margin-left:-10px;" >
                                                <ul>
                                                    <li a href="/"><i class="fa fa-angle-double-right" style="font-size:14px;line-height:40px;" aria-hidden="true"></i> Home</a></li>
                                                    <li><a href="/events class="fa fa-angle-double-right"  style="line-height:40px;" aria-hidden="true"></i> Event</a></li>
                                                    <li><a href="/#about" ><i class="fa fa-angle-double-right"  style="line-height:40px;" aria-hidden="true"></i> About Us</a></li>
                                                    <li><a href="/#gallery"><i class="fa fa-angle-double-right"  style="line-height:40px;" aria-hidden="true"></i> Gallery</a></li>
                                                    <li><a href="/store"><i class="fa fa-angle-double-right"  style="line-height:40px;" aria-hidden="true"></i> Teachings</a></li>
                                            </nav>
                                    </div>
                    </button>
                  
            </div>
            <div>
                    <button id="button2" class="">Get This
                            <div class="float-right" id="linkplus2" style="padding-right:20px"> <i class="fa fa-plus"></i></div>
                            <div class="float-right" id="linkminus2" style="padding-right:20px"> <i class="fa fa-minus"></i></div>
                            <div id="space2" style="font-weight:lighter">
                                    
                                <% for(var i = 0; i < 2; i++) { %>

                        <div class="single-latest-news" style="margin-top:-20px">
                            <a href="sermon/sermonPost/<%= sermons[i].id %>" style="font-size:14px; line-height: 40px;"><%= sermons[i].sermonTitle %></a>
                            <p style="font-size:14px;line-height: 40px;"> <i>By <%= sermons[i].sermonTeacher %> </i></p>
                        </div>

                    <% } %>
                
                                    <!-- Single Latest News -->
                                  
                            </div>
                    </button>
                  
            </div>
            <div>
                    <button id="button3" class="">Contact Us
                            <div class="float-right" id="linkplus3" style="padding-right:20px"> <i class="fa fa-plus"></i></div>
                            <div class="float-right" id="linkminus3" style="padding-right:20px"> <i class="fa fa-minus"></i></div>
                            <div id="space3" style="font-weight:lighter">
                                    <div class="contact-information" >
                                            <!-- <p><i class="fa fa-map-marker" aria-hidden="true"></i>FAITHBREED AUDITORIUM, ADJACENT ANCHORITE SCHOOL, FUTA JUNCTION</p> -->
                                            <a href="callto:07061658590" style="font-size:14px;line-height: 50px;"><i class="fa fa-phone" style="color:#CA3730; margin-right:10px; " aria-hidden="true"></i>(+234)-706-1658-590</a><br>
                                            <a href="mailto:info@faithbreed.org" style="font-size:14px;line-height: 50px;"><i class="fa fa-envelope" style="color:#CA3730; margin-right:10px"  aria-hidden="true"></i>info@faithbreed.org</a>
                                            <p style="font-size:14px;line-height: 50px;color:white" ><i class="fa fa-clock-o" style="font-size:14px;color:#CA3730;margin-right:10px;line-height: 40px;" aria-hidden="true"></i><span style="color:white"> Mon - Sun: 09.00am - 4.00pm</span></p>
                                        
                                    </div>
                            </div>
                    </button>
                  
            </div>
            <div>
                    <button id="button4" class="">Address
                            <div class="float-right" id="linkplus4" style="padding-right:20px"> <i class="fa fa-plus"></i></div>
                            <div class="float-right" id="linkminus4" style="padding-right:20px"> <i class="fa fa-minus"></i></div>
                            <div id="space4" style="font-weight:lighter">
                                    <div style="color:white" style="padding-top:80px;" ><br>
                                            <p style="font-size:14px; color:white"> Faithbreed Auditiorium, Adjacent Anchorite School, FUTA Junction </p>
                                   </div>
                            </div>
                    </button>
                  
            </div>
           
         
            
        </div>
        <div>
            <button >
                   <div style="width: 100%;padding:0px 20px;">
                        <p style="color:white;text-align:center;font-weight:lighter"> "Now thanks be unto God, which always causeth us to triumph in Christ, and maketh manifest the savour of his knowledge by us in every place."</p>
                       <center>
                            <div class="col-12 col-md-6">
                                    <div class="footer-social-icon">
                                        <a href="https://web.facebook.com/faithbreed.everywhere?_rdc=1&_rdr" style="padding:0px 10px;"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="https://twitter.com/pneumalife_cc"><i class="fa fa-twitter" style="padding:0px 10px;" aria-hidden="true"></i></a>
                                        <a href="mailto:info@faithbreed.org"><i class="fa fa-envelope" style="padding:0px 10px;" aria-hidden="true"></i></a>
                                        <a href="https://www.instagram.com/p/Bx4mOHHHYYC/?igshid=18xjn6j11xr0b"><i style="padding:0px 10px;" class="fa fa-instagram" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                       </center>
                   </div>
            </button>
        </div>
    </footer>
  
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-firestore.js"></script>
    <script src="js/auth.js"></script>
    <script src="js/newsletter.js"></script>
    <script>
    
    var button1 = document.getElementById('button1');
    var space1 = document.getElementById('space1');
    var linksminus = document.getElementById('linkminus')
    var linksplus = document.getElementById('linksplus');
    but(button1,space1,linkplus1,linkminus1);

    var button2 = document.getElementById('button2');
    var space2 = document.getElementById('space2');
    var linksminus2 = document.getElementById('linkminus2')
    var linksplus2 = document.getElementById('linksplus2');
    but(button2,space2,linkplus2,linkminus2);

    var button3 = document.getElementById('button3');
    var space3 = document.getElementById('space3');
    var linksminus3 = document.getElementById('linkminus3')
    var linksplus3 = document.getElementById('linksplus3');
    but(button3,space3,linkplus3,linkminus3);

    var button4 = document.getElementById('button4');
    var space4 = document.getElementById('space4');
    var linksminus4 = document.getElementById('linkminus4')
    var linksplus4 = document.getElementById('linksplus4');
    but(button4,space4,linkplus4,linkminus4);

    function but (parbut, parspace,linkminus,linkplus){
        parbut.addEventListener('click', ()=>{
            if(parspace.style.display == 'block'){
                parspace.style.display='none';
                parspace.style.WebkitTransition = "all 2s"
                linkminus.style.display='block';
                linkplus.style.display = 'none';
            }else{
                parspace.style.display='block';
                linkminus.style.display='none';
                linkplus.style.display = 'block';
               
            }
        
            // alert('hello');
        })
    }
    
    </script>
</body>

</html>