<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Pneuma Life City Church</title>
   
    <!-- Favicon -->
    <link rel="icon" href="/img/new/logochurch.png">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Amaranth|Raleway|Arapey|Comfortaa|Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/Open+Sanscss?family=Roboto|Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style2.css">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163514247-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-163514247-1');
</script>

</head>

<body>
    <!-- ##### Preloader ##### -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <!-- Line -->
        <div class="line-preloader"></div>
    </div> 
    
    
    <!-- ##### Header Area Start ##### -->
    <header class="header-area" >

        <!-- ***** Top Header Area ***** -->
      
        <!-- ***** Top Header Area ***** -->

        <!-- ***** Navbar Area ***** -->
        <div class="crose-main-menu" >
            <div class="classy-nav-container breakpoint-off k" >
                <div class="container kk"  >
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="croseNav">

                        <!-- Nav brand -->
                        <div class="hide_main" style="position:relative; left:-30px;top:-3px;">
                                <a href="/" class="nav-brand" ><img src="/img/new/logotrans.png" class="" alt=""></a>
                        </div>
                        <div class="hide_phone" style="position:relative; left:-130px;">
                                <a href="/" class="nav-brand" ><img src="/img/new/logotrans.png" class="" alt=""></a>
                        </div>
                        <!-- <a href="/" class="nav-brand" ><img src="img/new/logotrans.png" class="hide_phone" style="margin-left:-1000px" alt=""></a> -->
                     

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                           


                              <div class="classynav hide_phone" style="background-color:white;margin-right:-100px; " >
                                <ul>
                                    <!-- <li><a href="/" class="btn crose-btn header-btn" ">Home</a></li> -->
                                   
                                    <!-- <li class="dropdown  dropdown-toggle" style="font-weight:bold; cursor:pointer" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ABOUT
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="/about">about us</a>
                                            <a class="dropdown-item" href="aboutpastor">About pastor Dafe</a>
                                        </div>
                                    </li> -->
                                    <li><a href="/about">about us</a></li>
                                   <li><a href="/events">Events</a></li>
                                  
                                    <!-- <li><a href="/eventsout Pastor</a></li> -->
                                    <li><a href="/store">Store</a></li>
                                    <li><a href="/blog">Blog</a></li>
                                    <li><a href="/contact">contact us</a></li>
                                    <li><a href="/partnership" >partner</a></li>
                                </ul>

                                
                                <!-- Donate Button -->
                               

                            </div>

                            <div class="classynav " style="background-color:whitesmoke; " >
                                <div class="hide_main">
                                     <ul>
                                             <!-- <li><a href="/" class="btn crose-btn header-btn" ">Home</a></li> -->
                                            
                                             <!-- <li class="dropdown  dropdown-toggle" style="font-weight:bold; cursor:pointer" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ABOUT
                                                 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                     <a class="dropdown-item" href="/about">about us</a>
                                                     <a class="dropdown-item" href="aboutpastor">About pastor Dafe</a>
                                                 </div>
                                             </li> -->
                                             <li><a href="/about">about us</a></li>
                                            <li><a href="events">Events</a></li>
                                           
                                             <!-- <li><a href="/eventsout Pastor</a></li> -->
                                             <li><a href="/store">Store</a></li>
                                             <li><a href="/blog">Blog</a></li>
                                             <li><a href="/contact">contact us</a></li>
                                             <li><a href="/partnership" >partner</a></li>
                                         </ul>
                                </div>
 
 
                                 
                                 <!-- Donate Button -->
                                
 
                             </div>


                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>

            <!-- ***** Search Form Area ***** -->
            <div class="search-form-area" >
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="searchForm">
                                <form action="#" method="post">
                                    <input type="search" name="search" id="search" placeholder="Enter keywords &amp; hit enter...">
                                    <button type="submit" class="d-none"></button>
                                </form>
                                <div class="close-icon" id="searchCloseIcon"><i class="fa fa-close" aria-hidden="true"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Navbar Area ***** -->
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
   <div class="hide_phone" >
    <section class="hero-area hero-post-slides owl-carousel" style="margin-top:-90px;">
        <!-- Single Hero Slide -->

       
        <div class="single-hero-slide bg-img caro  d-flex align-items-center justify-content-center" style="background-image: url(/img/slide/slider4.jpg); background-size:100%; ">
            <!-- Post Content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h2 data-animation="fadeInUp" data-delay="100ms"></h2>
                            <p data-animation="fadeInUp" data-delay="300ms"></p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="single-hero-slide bg-img caro  d-flex align-items-center justify-content-center" style="background-image: url(/img/slide/slider1.jpg); background-size:100%">
            <!-- Post Content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h2 data-animation="fadeInUp" data-delay="100ms"></h2>
                            <p data-animation="fadeInUp" data-delay="300ms"></p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="single-hero-slide  bg-img caro  d-flex align-items-center justify-content-center" style="background-image: url(/img/slide/slider2.jpg);background-size:100%">
            <!-- Post Content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h2 data-animation="fadeInUp" data-delay="100ms"></h2>
                            <p data-animation="fadeInUp" data-delay="300ms"></p>
                            <!-- <a href="#" class="btn crose-btn" data-animation="fadeInUp" data-delay="500ms"></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
     

        <!-- <div class="single-hero-slide bg-img  d-flex align-items-center justify-content-center" style="background-image: url(img/news/background4.jpg);">
           
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h2 data-animation="fadeInUp" data-delay="100ms"></h2>
                            <p data-animation="fadeInUp" data-delay="300ms"></p>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div> -->



       
        
 <div class="single-hero-slide bg-img caro  d-flex align-items-center justify-content-center" style="background-image: url(/img/slide/slider3.jpg);background-size:100%; ">
            <!-- Post Content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h2 data-animation="fadeInUp" data-delay="100ms"></h2>
                            <p data-animation="fadeInUp" data-delay="300ms"></p>
                            <a href="/about" class="btn crose-btn" data-animation="fadeInUp" data-delay="500ms">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
        

        <!-- Single Hero Slide -->
       
    </section>
   </div>


    <div class="hide_main">
        
    <section class="hero-area hero-post-slides owl-carousel" style="margin-top:-25px; margin-bottom:-40px;"  >
        <!-- Single Hero Slide -->

       
        <div class="single-hero-slide bg-img caro  d-flex align-items-center justify-content-center" style="background-image: url(/img/slide/slider4.jpg); background-size:100%;">
            <!-- Post Content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h2 data-animation="fadeInUp" data-delay="100ms"></h2>
                            <p data-animation="fadeInUp" data-delay="300ms"></p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="single-hero-slide bg-img caro  d-flex align-items-center justify-content-center" style="background-image: url(/img/slide/slider1.jpg); background-size:100%">
            <!-- Post Content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h2 data-animation="fadeInUp" data-delay="100ms"></h2>
                            <p data-animation="fadeInUp" data-delay="300ms"></p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="single-hero-slide  bg-img caro  d-flex align-items-center justify-content-center" style="background-image: url(/img/slide/slider2.jpg);background-size:100%">
            <!-- Post Content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h2 data-animation="fadeInUp" data-delay="100ms"></h2>
                            <p data-animation="fadeInUp" data-delay="300ms"></p>
                            <!-- <a href="#" class="btn crose-btn" data-animation="fadeInUp" data-delay="500ms"></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
     



       
        
 <div class="single-hero-slide bg-img caro  d-flex align-items-center justify-content-center" style="background-image: url(img/slide/slider3.jpg);background-size:100%; ">
            <!-- Post Content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h2 data-animation="fadeInUp" data-delay="100ms"></h2>
                            <p data-animation="fadeInUp" data-delay="300ms"></p>
                            <!-- <a href="/about" class="btn crose-btn" data-animation="fadeInUp" data-delay="500ms">About Us</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
        

        <!-- Single Hero Slide -->
       
    </section>
    </div>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### About Area Start ##### -->
    <section class="about-area section-padding-100-0 abu"  id="about">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class=""><br><br class="hide_main">
                        <h2 class="hide_phone" style="text-align:center;color:black;margin-top:-130px;" >About Our Church.</h2><br>
                        <h4 class="hide_main" style="text-align:center;color:#CA3730;margin-top:-50px;">About Our Church.</h4>
                       <p class="abt" style="font-size:15px;" >
                                 Pnuema life exist to build a people who are Christ centered and Spirit driven, taught to know God for themselves, Influencing individuals, cities and nations with the light of the glorious gospel as ambassadors of the kingdom.... <a class="abt" href="/about" style="color:red;font-size:15px;text-decoration: underline">Learn More</a><br>,
                        </p> 
                    </div>
                </div>
            </div>

        </div>
    </section>

    <sectionn>
        <img class="hide_phone" src="img/slide/pastorsmessage.jpg">
        <img class="hide_main" src="img/import/pastormessage.jpeg">
    </sectionn>
    <!-- ##### About Area End ##### -->

    <!-- ##### Latest messagesssss Area Start ##### -->
    <section class="latest-messages-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12" >
                    <div class="section-heading hide_main" style="margin-top:-40px;" >
                        <h2 style="color:#CA3730">Latest Teachings.</h2>
                        <p class="lat" style="font-size:15px;" >Loaded with inisightful teachings, articles, videos to address real issues that individuals face each day whilst encouraging spiritual growth.</p>
                    </div>
                    <div class="section-heading hide_phone">
                        <h2 style="text-transform: capitalize " >Latest Teachings.</h2>
                        <p class="lat" style="font-size:15px;" >Loaded with inisightful teachings, articles, videos to address real issues that individuals face each day whilst encouraging spiritual growth.</p>
                    </div>
                </div>
            </div><br><br>

            <div class="container">
                <div class="row ">
                    <div class="col-sm-4  hide_phone " style="padding:0% 2%; ">
                       <div style="background:whitesmoke; padding-left:39px;padding-top:2%">
                        <h6 style="margin-left:-6px;">Latest Audio Messages</h6>
                        <div style="width:20%">
                            <hr  style="background-color:red; margin-left: -6px;">
                        </div>
                        <div class="row" style="width:100%;padding:0% 3%" >

                            <div class="col-sm-3 edit" style="background-color:white;color:black" >
                               <center> <i class="fa fa-music" aria-hidden="true"></i></center>
                                <br><br>
                            </div>
                            <div class="col-sm-9 edit">
                                <% for(var i = 0; i < 1; i++ ) { %>
                                <a href="/sermon/sermonPost/<%= sermons[i].id %>" style="color:white;font-weight:bold;text-transform:capitalize;"><%= sermons[i].sermonTitle %>
                               
                                    <br>
                                    <i style="font-weight:lighter; font-size:11px"><i class="fa fa-user-o" style="margin-right:4px;" aria-hidden="true"></i><%= sermons[i].sermonTeacher %></i></a>
                                    <% } %>
                                     <br>
                            </div>
                        </div>
                        <div style="padding-right:22px;margin-left: -6px;">
                            <hr style="color:#CA3730">
                            <% for(var i =1; i < 4; i++) { %>
                            <a href="sermon/sermonPost/<%= sermons[i].id %>">
                                <p style="line-height: 20px;color:#CA3730;font-size:14px;" ><%= sermons[i].sermonTitle %>  <br>
                                    <i style="color:grey;font-size:13px;font-weight:bold"><small><i class="fa fa-user-o" style="margin-right:4px;" aria-hidden="true"></i><%= sermons[i].sermonTeacher %></small></i>
                                </p>
                            </a>
                           
                             <hr style="color:#CA3730">
                             <% } %>
                            
                        </div>
                        <div class="" >
                            <center><a href="/store"><button style="background-color:#CA3730;border:none;cursor:pointer;color:#fff;border-radius:20px;font-size:14px;font-weight:bold; padding:5px 10px" >View More<i class="fa fa-arrow-circle-right" style="color:#fff;margin-left:5px;" aria-hidden="true"></i></button></a></center>  <br>                     
                        </div>
                       
                       
                          


                                    
                        <div>
                            
                        </div>

                       </div>
                        
                    </div>


                    <div class="col-sm-4  hide_main shadow p-3 mb-5 bg-white rounded " style="padding:0% 2%; ">
                            <div style="background:white; padding-left:39px;padding-top:2%">
                             <h6 style="margin-left:-6px;">Latest Audio Messages</h6>
                             <div style="width:20%">
                                 <hr  style="background-color:red; margin-left: -6px;">
                             </div>
                             <div class="row" style="width:100%;padding:0% 3%" >
     
                                 <div class="col-sm-3 edit" style="background-color:whitesmoke;height:60px;color:black;" >
                                    <center> <i class="fa fa-music" aria-hidden="true"></i></center>
                                     <br><br>
                                 </div>
                                 <div class="col-sm-9 edit">
                                    <% for(var i = 0; i < 1; i++ ) { %>
                                     <a href="/sermon/sermonPost/<%= sermons[i].id %>" style="color:white;font-weight:bold"><%= sermons[i].sermonTitle %><br>
                                         <i style="font-weight:lighter; font-size:11px"><i class="fa fa-user-o" style="margin-right:4px;" aria-hidden="true"></i><%= sermons[i].sermonTeacher %></i></a>
                                         <% } %>
                                         <br>
                                 </div>
                             </div>
                             <div style="padding-right:22px;margin-left: -6px;">
                                 <hr style="color:#CA3730">
                                 <% for(var i =1; i < 4; i++) { %>
                                 <a href="sermon/sermonPost/<%= sermons[i].id %>">
                                     <p style="line-height: 20px;color:#CA3730;font-size:14px;"><%= sermons[i].sermonTitle %> <br>
                                         <i style="color:grey;font-size:13px;font-weight:bold"><small><i class="fa fa-user-o" style="margin-right:4px;" aria-hidden="true"></i>By <%= sermons[i].sermonTeacher %></small></i>
                                     </p>
                                 </a>
                                  <hr style="color:#CA3730">
                                  <% } %>

                                 
                                  <br>
                             </div>
                             <div class="" >
                                 <a href="/store" class="btn btn-success float-right" style="background-color: #CA3730;border:none;color:white;font-size:12px;font-weight:bold; padding:5px 10px">View More</a>
                             </div>
                            
                            <br>
                               
     
     
                                         
                             <div>
                                 
                             </div>
     
                            </div>
                             
                         </div>

                   
                    

                    <div class="col-sm-4 video hide_phone  " style=padding-left:20px;padding-top:5px;background-color:whitesmoke;margin-left:-8px; > 
                        <h6>Latest Articles </h6> 
                        <div style="width:20%">
                            <hr  style="background-color:red;">
                        </div>
                        
                       
                           <div class="ori row ">
                              
                            <% for(var i = 0; i < 1; i++) { %>
                                <div class="first">
                                    <img src="<%= blogs[i].blogImage.slice(8) %>"   style="width:100%">
                                </div>
                                <div class="second d">
                                   
                                    <b><%= blogs[i].blogTitle %></b><br>
                                    <i><i class="fa fa-user-circle" style="padding-right:1px;" aria-hidden="true"></i>By <%= blogs[i].blogAuthor %></i>
                                    <p><%= blogs[i].blogExcerpt.slice(0,110) %>...  <span ><a style="color:red;font-size:12px" href="/blog/blogPost/<%= blogs[i].id %>">Read More</a></span> </p>
                                   
                                </div>
                                <% } %>
                           </div><hr style="margin-right:15px;">
                           <% if(blogs.length == 2){ %>
                                <% for(var i=1; i< 2; i++){ %>
                                    <div class="cyc">
                                        <b><%= blogs[i].blogTitle %></b><br>
                                        <i style="margin-right:10px;"><i class="fa fa-user-circle" style="padding-right:1px;" aria-hidden="true"></i>By <%= blogs[i].blogAuthor %> </i>
                                        <i class="" style="padding-right:20px;"><i class="fa fa-calendar" style="padding-right:3px;" aria-hidden="true"></i><%= blogs[i].blogDate.toString().slice(0,16) %></i><br>
                                        <div class="">
                                                <p><%= blogs[i].blogExcerpt.slice(0,38) %></p>
                                            <!-- <button  class=" float-right btn btn-default" style="background-color:white;cursor:pointer;color:#CA3730;border:none;border-radius:5px;font-weight:bold; margin-top:-20px;; padding:5px 7px;font-size:12px " >Read More</button> -->
                                            <a href="/blog/blogPost/<%= blogs[i].id %>"><i class="fa fa-arrow-circle-right float-right " style="background-color:#CA3730;color:white;margin-top:-12px;padding:5px 12px;font-size:15px" aria-hidden="true"></i></a>
                                        </div>
                                    </div><hr style="margin-right:15px;">
                                    <% } %>
                           <% } %>

                           <% if(blogs.length > 2){ %>
                            <% for(var i=1; i< 3; i++){ %>
                                <div class="cyc">
                                    <b><%= blogs[i].blogTitle %></b><br>
                                    <i style="margin-right:10px;"><i class="fa fa-user-circle" style="padding-right:1px;" aria-hidden="true"></i>By <%= blogs[i].blogAuthor %> </i>
                                    <i class="" style="padding-right:20px;"><i class="fa fa-calendar" style="padding-right:3px;" aria-hidden="true"></i><%= blogs[i].blogDate.toString().slice(0,16) %></i><br>
                                    <div class="">
                                            <p><%= blogs[i].blogExcerpt.slice(0,38) %></p>
                                        <!-- <button  class=" float-right btn btn-default" style="background-color:white;cursor:pointer;color:#CA3730;border:none;border-radius:5px;font-weight:bold; margin-top:-20px;; padding:5px 7px;font-size:12px " >Read More</button> -->
                                        <a href="/blog/blogPost/<%= blogs[i].id %>"><i class="fa fa-arrow-circle-right float-right " style="background-color:#CA3730;color:white;margin-top:-12px;padding:5px 12px;font-size:15px" aria-hidden="true"></i></a>
                                    </div>
                                </div><hr style="margin-right:15px;">
                                <% } %>
                       <% } %>

                   


                          
                   
                               <div>
                                    <center><a href="/blog"><button style="background-color:#CA3730;border:none;cursor:pointer;color:#fff;border-radius:20px;font-size:14px;font-weight:bold; padding:5px 10px" >View More<i class="fa fa-arrow-circle-right" style="color:#fff;margin-left:5px;" aria-hidden="true"></i></button></a></center>                              </div>
                       
                    </div>

                    <div class="col-sm-4 video hide_main  shadow p-3 mb-5 bg-white rounded ">
                            <h6>Latest Articles </h6> 
                            <div style="width:20%">
                                <hr  style="background-color:red;">
                            </div>
                            
                           
                               <div class="ori row ">
                                <% for(var i = 0; i < 1; i++) { %>
                                    <div class="first">
                                        <img src="<%= blogs[i].blogImage.slice(8) %>" style="width:100%">
                                    </div>
                                    <div class="second d">
                                       
                                            <b><%= blogs[i].blogTitle %></b><br>
                                        <i>By <%= blogs[i].blogAuthor %></i>
                                        <p><%= blogs[i].blogExcerpt.slice(1,100) %>... <span ><a style="color:red;font-size:12px" href="/blog/blogPost/<%= blogs[i].id %>">Read More</a></span> </p>
                                      
                                    </div>
                                    <% } %>
                               </div><hr style="margin-right:15px;">


                              <% if(blogs.length == 2){ %>
                                <% for(var i=1; i< 2; i++){ %>
                                    <div class="cyc">
                                        <b><%= blogs[i].blogTitle %></b><br>
                                        <i style="margin-right:10px;"><i class="fa fa-user-circle" style="padding-right:1px;" aria-hidden="true"></i>By <%= blogs[i].blogAuthor %> </i>
                                        <i class="" style="padding-right:20px;"><i class="fa fa-calendar" style="padding-right:3px;" aria-hidden="true"></i><%= blogs[i].blogDate.toString().slice(0,16) %></i><br>
                                        <div class="">
                                                <p><%= blogs[i].blogExcerpt.slice(0,38) %></p>
                                            <!-- <button  class=" float-right btn btn-default" style="background-color:white;cursor:pointer;color:#CA3730;border:none;border-radius:5px;font-weight:bold; margin-top:-20px;; padding:5px 7px;font-size:12px " >Read More</button> -->
                                            <a href="/blog/blogPost/<%= blogs[i].id %>"><i class="fa fa-arrow-circle-right float-right " style="background-color:#CA3730;color:white;margin-top:-12px;padding:5px 12px;font-size:15px" aria-hidden="true"></i></a>
                                        </div>
                                    </div><hr style="margin-right:15px;">
                                    <% } %>
                           <% } %>

                           <% if(blogs.length > 2){ %>
                            <% for(var i=1; i< 3; i++){ %>
                                <div class="cyc">
                                    <b><%= blogs[i].blogTitle %></b><br>
                                    <i style="margin-right:10px;"><i class="fa fa-user-circle" style="padding-right:1px;" aria-hidden="true"></i>By <%= blogs[i].blogAuthor %> </i>
                                    <i class="" style="padding-right:20px;"><i class="fa fa-calendar" style="padding-right:3px;" aria-hidden="true"></i><%= blogs[i].blogDate.toString().slice(0,16) %></i><br>
                                    <div class="">
                                            <p><%= blogs[i].blogExcerpt.slice(0,38) %></p>
                                        <!-- <button  class=" float-right btn btn-default" style="background-color:white;cursor:pointer;color:#CA3730;border:none;border-radius:5px;font-weight:bold; margin-top:-20px;; padding:5px 7px;font-size:12px " >Read More</button> -->
                                        <a href="/blog/blogPost/<%= blogs[i].id %>"><i class="fa fa-arrow-circle-right float-right " style="background-color:#CA3730;color:white;margin-top:-12px;padding:5px 12px;font-size:15px" aria-hidden="true"></i></a>
                                    </div>
                                </div><hr style="margin-right:15px;">
                                <% } %>
                       <% } %>
                               
                                    <div>
                                            <center><a href="/blog"><button style="background-color: #fff;border:none; cursor:pointer;color:#CA3730;font-size:14px;font-weight:bold; padding:5px 10px" >View More</button><i class="fa fa-arrow-circle-right" style="color:#CA3730" aria-hidden="true"></i></a></center>
                                    </div>
                           
                        </div>

                  

                       <div class="col-sm-4 ed hide_main shadow p-3 mb-5 bg-white rounded">
                        <div class="vidd" style="background-color:white">
                         <h6>Latest Videos</h6>
                         <div style="width:20%" >
                             <hr  style="background-color:red;">
                         </div>
                        <div class="ori row ">

                                <div class="first"  data-toggle="modal" data-target="#exampleModalCenter" >
                                    <video src="video/testimkony.mp4"  style="width:100%;background-color:#CA3730"></video>
                                
                                </div>
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                      
                                        <div class="modal-dialog modal-dialog-centered " role="" >
                                              <div class="modal-content container mods" >
                                                    <div>
                                                            <h6>Praise Report by Sis Tope Adesanya</h6>
            
                                                            <div class="vid" style="height:300px"> 
                                                                    <!-- <video src="video/testimony.mp4"  style="height:300px" width="100%" controls controlsList="nodownload"></video> -->
                                                                    <iframe width="100%" height="100%"  src="https://www.youtube.com/embed/nuyjJmUmT64" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                                                                </div>
                                                    </div>
                                                 
                                              </div>
                                            </div>
                                </div>

                                
                                <div class="second d" data-toggle="modal" data-target="#exampleModalCenter"  style="background-color: white">
                                    <b>Testimony over Supernatural healing</b><br>
                                            <i>By Mrs Hadassah Omodorni</i>
                                            <p></p>
                                            <p> Click <span style="color:blue;text-decoration:underline">me</span> to See video </p>
                                </div>
                        </div><hr style="margin-right:15px;">
                     
                   
                        <div data-target="#exampleModalCenterm" data-toggle="modal" style="cursor:pointer">
                                <p style="line-height: 20px;color:#CA3730;font-size:14px;">WordShop <br>
                                    <i style="color:grey;font-size:13px;font-weight:bold"><small><i class="fa fa-user-o" style="margin-right:4px;" aria-hidden="true"></i>By Pastor Dafe Richards</small></i>
                                </p>
                        </div><hr style="margin-right:15px;">

                         <div class="modal fade" id="exampleModalCenterm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                      
                            <div class="modal-dialog modal-dialog-centered " role="" >
                                  <div class="modal-content container mods" >
                                        <div>
                                                <h6>WordShop by Pastor Dafe Richards</h6>

                                                <div class="vid" style="height:300px"> 
                                                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/MaxRQbQXDPo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                    </div>
                                        </div>
                                     
                                  </div>
                            </div>
                         </div>
                        
                        <!--
                     <a href="">
                        <p style="line-height: 20px;color:#CA3730;font-size:14px;">Spirit Life Summit <br>
                            <i style="color:grey;font-size:13px;font-weight:bold"><small><i class="fa fa-user-o" style="margin-right:4px;" aria-hidden="true"></i>By Pastor Dafe Richards</small></i>
                        </p>
                     </a><hr style="margin-right:15px;">
                      -->
                      
                     <center><p ><a href="https://www.youtube.com/channel/UC-2YjLUSjTyD3QGty076bKA/videos" style="background-color:#CA3730;cursor:pointer;color:white;border:none;border-radius:5px;font-weight:bold; padding:5px 7px;font-size:12px">View More</a></p></center>
                 </div>
                         <div>
                            
                         </div>
                         
                        </div> 




                        <div class="col-sm-4 ed hide_phone " style="margin-top:0px;">
                                <div class="vidd" style="background-color:whitesmoke">
                                 <h6>Latest Videos</h6>
                                 <div style="width:20%" >
                                     <hr  style="background-color:red;">
                                 </div>
                                <div class="ori row ">

                                        <div class="first"  data-toggle="modal" >
                                            <video src="video/testimkony.mp4"  style="width:100%;background-color:#CA3730"></video>
                                           
                                            <!-- <iframe width="100" src="https://www.youtube.com/embed/nuyjJmUmT64" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

                                        </div>

                                        <div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                              
                                                <div class="modal-dialog modal-dialog-centered " role="" >
                                                      <div class="modal-content container mods" >
                                                            <div>
                                                                    <h6>Praise Report by Sis Tope Adesanya</h6>
                    
                                                                    <div class="vid" style="height:300px"> 
                                                                        <iframe width="100%" height="100%"  src="https://www.youtube.com/embed/nuyjJmUmT64" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                                    </div>
                                                            </div>
                                                         
                                                      </div>
                                                    </div>
                                        </div>
        
                                        
                                        <div class="second d"  data-target="#exampleModalCenter5" data-toggle="modal" data-target="" style="background-color: white">
                                            <b>Testimony over Supernatural healing</b><br>
                                            <i>By Mrs Hadassah Omodorni</i>
                                            <p></p>
                                            <p> Click <span style="color:blue;text-decoration:underline">me</span> to See video </p>
                                        </div>
                                        
                                </div><hr style="margin-right:15px;">

                                <div data-target="#exampleModalCentermi" data-toggle="modal" style="cursor:pointer">
                                    <p style="line-height: 20px;color:#CA3730;font-size:14px;">WordShop <br>
                                        <i style="color:grey;font-size:13px;font-weight:bold"><small><i class="fa fa-user-o" style="margin-right:4px;" aria-hidden="true"></i>By Pastor Dafe Richards</small></i>
                                    </p>
                            </div><hr style="margin-right:15px;">
    
                             <div class="modal fade" id="exampleModalCentermi" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                          
                                <div class="modal-dialog modal-dialog-centered " role="" >
                                      <div class="modal-content container mods" >
                                            <div>
                                                    <h6>WordShop by Pastor Dafe Richards</h6>
    
                                                    <div class="vid" style="height:300px"> 
                                                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/MaxRQbQXDPo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                        </div>
                                            </div>
                                         
                                      </div>
                                </div>
                             </div>


                             
                                 <!-- <div data-toggle="modal" data-target="#exampleModalCenter">
                                             <p style="line-height: 20px;color:#CA3730;font-size:14px;">Spirit Life Summit <br>
                                                 <i style="color:grey;font-size:13px;font-weight:bold"><small><i class="fa fa-user-o" style="margin-right:4px;" aria-hidden="true"></i>By Pastor Dafe Richards</small></i>
                                             </p>
                                </div><hr style="margin-right:15px;"> -->


<!-- 
                             <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                              
                                    <div class="modal-dialog modal-dialog-centered " role="" >
                                          <div class="modal-content container mods" >
                                                <div>
                                                        <h6>Praise Report by Sis Tope Adesanya</h6>
        
                                                        <div class="vid" style="height:300px"> 
                                                                <video src="video/testimony.mp4"  style="height:300px" width="100%" controls controlsList="nodownload"></video>
                                                        </div>
                                                </div>
                                             
                                          </div>
                                        </div>
                            </div>
                            <div data-toggle="modal" data-target="#exampleModalCenter">
                                <p style="line-height: 20px;color:#CA3730;font-size:14px;">Spirit Life Summit <br>
                                    <i style="color:grey;font-size:13px;font-weight:bold"><small><i class="fa fa-user-o" style="margin-right:4px;" aria-hidden="true"></i>By Pastor Dafe Richards</small></i>
                                </p>
                   </div><hr style="margin-right:15px;"> -->



                <!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                 
                       <div class="modal-dialog modal-dialog-centered " role="" >
                             <div class="modal-content container mods" >
                                   <div>
                                           <h6>Praise Report by Sis Tope Adesanya</h6>

                                           <div class="vid" style="height:300px"> 
                                                   <video src="video/testimony.mp4"  style="height:300px" width="100%" controls controlsList="nodownload"></video>
                                           </div>
                                   </div>
                                
                             </div>
                           </div>
               </div>
 -->



                            <!-- <div data-toggle="modal" data-target="#exampleModalCenters">
                                <p style="line-height: 20px;color:#CA3730;font-size:14px;">Spirit Life Summit <br>
                                    <i style="color:grey;font-size:13px;font-weight:bold"><small><i class="fa fa-user-o" style="margin-right:4px;" aria-hidden="true"></i>By Pastor Dafe Richards</small></i>
                                </p>
                   </div><hr style="margin-right:15px;"> -->



                <!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                 
                       <div class="modal-dialog modal-dialog-centered " role="" >
                             <div class="modal-content container mods" >
                                   <div>
                                           <h6>Praise Report by Sis Tope Adesanya</h6>

                                           <div class="vid" style="height:300px"> 
                                                   <video src="video/testimony.mp4"  style="height:300px" width="100%" controls controlsList="nodownload"></video>
                                           </div>
                                   </div>
                                
                             </div>
                           </div>
               </div> -->
                             
                              
                             <center><a href="https://www.youtube.com/channel/UC-2YjLUSjTyD3QGty076bKA/videos" style="background-color:#CA3730;border:none;cursor:pointer;color:#fff;border-radius:20px;font-size:14px;font-weight:bold; padding:5px 10px" >View More<i class="fa fa-arrow-circle-right" style="color:#fff;margin-left:5px;" aria-hidden="true"></i></button></a></center>                         
                            <p style="line-height:2px;"></p>   
                            </div> </div>
                                 <div>
                                    
                                 </div>
                                 
                                </div>




                    </div>
                </div>
            </div>
            <br><br ><br class="hide_phone">

     
             
            </div>
        </div>
    </section>
    <!-- ##### Latest messagesssss Area End ##### -->

    <!-- ##### Upcoming Events Area Start ##### -->
    <section class="upcoming-events-area section-padding-0-100">
        <!-- Upcoming Events Heading Area -->
        <div class="upcoming-events-heading bg-img bg-overlay bg-fixed" style="background-image: url(/img/bg-img/bg.jpg);">
            <div class="container">
                <div class="row">
                    <!-- Section Heading -->
                    <div class="col-12">
                        <div class="section-heading text-left white">
                            <h2>Upcoming Events</h2>
                            <p style="font-size:15px">Be sure to visit our Upcoming Events page regularly to get infomation</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Upcoming Events Slide -->
        <div class="upcoming-events-slides-area">
            <div class="container">
                <div class="row">
                    
                    <div class="col-12">
                        <div class="upcoming-slides owl-carousel">
                            <% for(var i=0; i < 1 ; i++ ) { %>
                            <div class="single-slide">
                            
                                <div class="single-upcoming-events-area d-flex flex-wrap align-items-center">
                                    
                                    <div class="upcoming-events-thumbnail">
                                        <img src="<%= events[i].eventImage.slice(8)%>" alt="">
                                    </div>
                                    
                                    <div class="upcoming-events-content d-flex flex-wrap align-items-center">
                                        <div class="events-text">
                                            <h4><%= events[i].eventName %></h4>
                                            <div class="events-meta">
                                                <a href="#" style="font-size:12px"><i class="fa fa-calendar" aria-hidden="true" ></i><%= events[i].eventDate.toString().slice(0,16) %></a>
                                                <a href="#" style="font-size:12px"><i class="fa fa-clock-o" aria-hidden="true" ></i> 5:30PM Daily</a>
                                                <a href="#" style="font-size:12px"><i class="fa fa-map-marker" style="font-size:10px;" aria-hidden="true" ></i> Faithbreed Auditorium , Adjacent Anchorite School, FUTA Junction</a>
                                            </div>
                                            <p style="font-size:14px;" ><%= events[i].eventContent %></p>
                                           
                                        </div>
                                        <div class="find-out-more-btn hide_phone">
                                            <a href="/events" class="btn crose-btn btn-2" style="background-color:#CA3730;color:white;font-size:12px;" >Find Out More</a>
                                        </div>
                                        <div class="find-out-more-btn hide_main " style="margin-top:-12px;">
                                                <!-- <a href="/eventsass="btn crose-btn btn-2" style="background-color:#CA3730;color:white;font-size:12px;padding:10px;" >Find Out More</a> -->
                                                <a href="/events"><button class="btn btn-default float-right" style="background-color:#CA3730;color:white;font-size:13px;">Find out More</button></a>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- ##### Call To Action Area Start ##### -->
    <!-- <section class="call-to-action-area section-padding-100 bg-img bg-overlay" style="background-image: url(img/bg-img/2.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="call-to-action-content text-center">
                        <h6>A Place For You</h6>
                        <h2>Find a place to connect and grow through a small group, class, or regular gathering.</h2>
                        <a href="#" class="btn crose-btn btn-2">Join Faithbreed Connect</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- ##### Call To Action Area End ##### -->
    <!-- ##### Upcoming Events Area End ##### -->

    <!-- ##### Gallery Area Start ##### -->
  
        <!-- Single Gallery Area -->
       

      
    <!-- ##### Gallery Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
   
   

    <section class="blog-area section-padding-50-0">
        <div class="" style="width:98.9%">
            <center>
                <div class="container hide_main" style="margin-top:-60px;margin-bottom: -20px;">
                    <h4 style="color:#CA3730">Praise Reports.</h4>
                </div>
                <div class="container hide_phone">
                    <h2>Praise Reports.</h2>
                </div>
                
            </center>
        <div class="hide_main" style="margin-top: 50px;padding:10px;">
            <iframe width="100%" height="300px" style=" border-radius: 20px;"  src="https://www.youtube.com/embed/nuyjJmUmT64" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>

        <div class="container  justify-content-center" style="padding-top:30px;">
                <div class="row hide_phone ">
                <div class="col-sm-12 d-flex justify-content-center" style="width:40%">
                    <iframe width="80%" height="400px"  src="https://www.youtube.com/embed/nuyjJmUmT64" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>

                
                                        <!-- <div class="col-sm-6 praise hide_phone">
                            
                               <div>
                                    <b>Testimony over recovery from Sickness</b><br>
                                    <i class="fa fa-user-circle" style="padding-right:1px;" aria-hidden="true"></i><i> Sister Hadassah Omodoroni</i>
                                    <p style="font-size:14px;font-weight:500;">There are different ways we can issue the traffic place in the section f the places we are going sir in the mighty name of jesus
                                            the places we are going sir in <br>
                                    <a class="float-right read" style="color:white;cursor:pointer;padding-top:3px;padding-bottom: 3px; padding-left:10px;padding-right:10px;;" data-toggle="modal" data-target="#exampleModalCenter3" >View<i class="fa fa-eye" style="font-size:14px;color:white;margin-left:4px;" aria-hidden="true"></i>
                                    </a><br>
                                    </p><hr style="margin-top:-24px;">
                                 
                               </div>
                               <div>
                                    <b>Testimony over recovery from Sickness</b><br>
                                    <i class="fa fa-user-circle" style="padding-right:1px;" aria-hidden="true"></i><i> Sister Hadassah Omodoroni</i>

                                    <p style="font-size:14px;font-weight: 500">There are different ways we can issue the traffic place in the section f the places we are going sir in the mighty name of jesus
                                            the places we are going sir in <br>
                                    <a class="float-right read" style="color:white;cursor:pointer;padding-top:3px;padding-bottom: 3px; padding-left:10px;padding-right:10px;" data-toggle="modal" data-target="#exampleModalCenter2" >View<i class="fa fa-eye" style="font-size:14px;color:white;margin-left:4px;" aria-hidden="true"></i>
                                    </a><br>
                                    </p><hr style="margin-top:-24px;">
                                  
                               </div>
                        </div> -->
                        <!-- <div style="padding:10px 5px 10px 5px;">
                                <div class="col-sm-6 praise hide_main ">
                            
                                        <div class="shadow p-3 mb-5 bg-white rounded">
                                             <b style="font-size:16px;">Testimony over recovery from Sickness</b><br>
                                             <i class="fa fa-user-circle" style="padding-right:1px;" aria-hidden="true"></i><i> Sister Hadassah Omodoroni</i>
                                             <p style="font-size:14px;font-weight:500;">There are different ways we can issue the traffic place in the section f the places we are going sir in the mighty name of jesus
                                                     the places we are going sir in <br>
                                             <a class="float-right read" style="color:white;cursor:pointer;padding-top:3px;padding-bottom: 3px; padding-left:10px;padding-right:10px;;" data-toggle="modal" data-target="#exampleModalCenter3" >View<i class="fa fa-eye" style="font-size:14px;color:white;margin-left:4px;" aria-hidden="true"></i>
                                             </a><br>
                                             </p><hr style="margin-top:-24px;">
                                           
                                        </div><br>
                                        <div class="shadow p-3 mb-5 bg-white rounded">
                                             <b style="font-size:16px;">Testimony over recovery from Sickness</b><br>
                                             <i class="fa fa-user-circle" style="padding-right:1px;" aria-hidden="true"></i><i> Sister Hadassah Omodoroni</i>
         
                                             <p style="font-size:14px;font-weight: 500">There are different ways we can issue the traffic place in the section f the places we are going sir in the mighty name of jesus
                                                     the places we are going sir in <br>
                                             <a class="float-right read" style="color:white;cursor:pointer;padding-top:3px;padding-bottom: 3px; padding-left:10px;padding-right:10px;" data-toggle="modal" data-target="#exampleModalCenter2" >View<i class="fa fa-eye" style="font-size:14px;color:white;margin-left:4px;" aria-hidden="true"></i>
                                             </a><br>
                                             </p><hr style="margin-top:-24px;">
                                        </div>
         
                                        
         
                                        
         
                                        
                                 </div>
                        </div>

                         -->
                        <!--start of the modal  -->
                        <!-- <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                               
                            <div class="modal-dialog modal-dialog-centered " role="" >
                                  <div class="modal-content container mods" >
                                        <div>
                                                <h6>Praise Report by Sis Tope Adesanya</h6>

                                                <div class="vid"> 
                                                        <video src="video/fingerprint.mp4" width="100%" controls></video>
                                                </div>
                                        </div>
                                       <div>
                                           <p style="font-weight:lighter" > Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                 It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
                                               containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                            </p>
                                       </div>
                                  </div>
                                </div>
                        </div>  -->
                        <!-- end of modal -->

                         <!--start of the modal  -->
                         <!-- <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                               
                                <div class="modal-dialog modal-dialog-centered " role="" >
                                      <div class="modal-content container mods" >
                                            <div>
                                                    <h6>Praise Report by Sis Tope Adesanya</h6>
    
                                                    <div class="vid"> 
                                                            <video src="video/fingerprint.mp4" width="100%" controls></video>
                                                    </div>
                                            </div>
                                           <div>
                                               <p style="font-weight:lighter"> Loremu Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                     It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
                                                   containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                                </p>
                                           </div>
                                      </div>
                                    </div>
                            </div>  -->
                            <!-- end of modal -->
                        
                   </div>
                  
        </div>
            </div>
            <div class="continue">
                <a href="https://www.youtube.com/watch?v=nuyjJmUmT64" target="_block"> <p style="text-align: center">Continue Viewing <i class="fa fa-sign-in" aria-hidden="true"></i>
                </p></a>
        </div>
           

           
        </div>
    </section><br><br>


    <div class="upcoming-events-heading bg-img bg-overlay bg-fixed" style="background-image: url(img/bg-img/bg.jpg);">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-left white">
                        <h2>Gallery</h2>
                       
                    </div>
                </div>
            </div>
        </div>
    </div><br>

    <div id="carouselExampleIndicators" class="carousel slide hide_phone" data-ride="carousel" >
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
                <div class="col-sm-3 gal" >
                    
                    <img src="img/news/background6.png" />
                </div>
                <div class="col-sm-3 gal">
                    <img src="img/news/background.png" />
                </div>
                <div class="col-sm-3 gal">
                    <img src="img/news/gallery3.png" />
                </div>
                <div class="col-sm-3 gal">
                    <img src="img/news/gallery4.png" />
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
                    <div class="col-sm-3 gal" >
                    
                            <img src="img/news/background.png" />
                        </div>
                        <div class="col-sm-3 gal">
                            <img src="img/news/back.png" />
                        </div>
                        <div class="col-sm-3 gal">
                            <img src="img/news/backa.png" />
                        </div>
                        <div class="col-sm-3 gal">
                            <img src="img/news/gallery.png" />
                    </div>
            </div>
          </div>
          <!-- <div class="carousel-item">
            <div class="row">
                    <div class="col-sm-3 gal" >
                    
                            <img src="img/news/gallery1.jpg" />
                        </div>
                        <div class="col-sm-3 gal">
                            <img src="img/news/gallery2.jpg" />
                        </div>
                        <div class="col-sm-3 gal">
                            <img src="img/news/gallery3.jpg" />
                        </div>
                        <div class="col-sm-3 gal">
                            <img src="img/news/gallery4.jpg" />
                    </div>
            </div>
          </div> -->
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <i class="fa fa-arrow-left" style="color:#CA3730; background-color:white; padding:14px;border-radius:10px;"  aria-hidden="true"></i>

          <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators"  role="button" data-slide="next">
                <i class="fa fa-arrow-right" style="color:#CA3730; background-color:white; padding:14px;border-radius:10px;"  aria-hidden="true"></i>
          <!-- <span class="carousel-control-next-icon" style="background-color:white;color:green;" aria-hidden="true"></span> -->
          <span class="sr-only" style="color:green">Next</span>
        </a>
      </div>


      <div class="hide_main">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="d-block w-100" src="img/news/background6.png" alt="First slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="img/news/gallery3.png" alt="Second slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="img/news/gallery4.png" alt="Third slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="img/news/back.png" alt="Third slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="img/news/backa.png" alt="Third slide">
                      </div>
                    

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
            </div>
      </div><br>

      <div class="container hide_phone" style="width:40%">
        <div class="row d-flex justify-content-center  " >
           <!----> 
                    <!-- <div class="insta" >
                            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                            <div class="elfsight-app-ae307f57-a20e-405c-aeb9-47fc36ef0000"></div>
                    </div> -->
<!-- 
                    <div class="insta">
                        <h4 style="color:#CA3730">Follow Us on Instagram </h4>
                        <div style="color:white;font-size:15px;margin-top:-13px;" >.</div>
                       <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/31169f9b3e835dd491f487eed77f7c5c.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
                        <a href="https://www.instagram.com/p/Bx4mOHHHYYC/?igshid=18xjn6j11xr0b"></a> <button class="btn btn-default" style="font-size:14px;font-weight:500;color:white;background-color:#CA3730">Like Our Page <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        </a>
                    </button>
                    </div> -->
        
            <div class=" sub d-flex justify-content-center">
               
                <div class="subscribe" >
                        <h4 class="text-center" style="color:#CA3730">Subscribe to Our Newsletter</h4>
                   <p style="font-size:14px;">Subscribe to our newsletter in order to receive the latest new & articles. We promise we won't spam your inbox!
                    <div class="former shadow-sm p-3 mb-5 bg-whitesmoke rounded">
                        <center>
                                <img src="/img/new/logochurch.png"  />
                        </center>
                       <p id="default" style="color:#CA3730;font-size:15px;"><br>

                           Please enter your valid Email address to receive updates concerning our new posts
                       </p>

                       <p  id="success" style="color:green;font-size:15px;">
                            You have successfully subscribed to our newsletter, you will receive updates about our programmes
                       </p>
                        <form  action="/subscribe/subscribePost" method="post">
                            <input type="email" name="subscribeInput" class="inputt form-control" style="width:100%" required  /><br>
                            <button type="submit" id="buttonnn" class="float-right buton" style="cursor: pointer"> Submit </button>
                        </form>
                        <br>
                    </div>
                   </p>
                </div>
            </div>
        </div>
      </div>
      <div class="container hide_main" style="width:90%">
        <div class="row d-flex justify-content-center  " >
           <!----> 
                    <!-- <div class="insta" >
                            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                            <div class="elfsight-app-ae307f57-a20e-405c-aeb9-47fc36ef0000"></div>
                    </div> -->
<!-- 
                    <div class="insta">
                        <h4 style="color:#CA3730">Follow Us on Instagram </h4>
                        <div style="color:white;font-size:15px;margin-top:-13px;" >.</div>
                       <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/31169f9b3e835dd491f487eed77f7c5c.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
                        <a href="https://www.instagram.com/p/Bx4mOHHHYYC/?igshid=18xjn6j11xr0b"></a> <button class="btn btn-default" style="font-size:14px;font-weight:500;color:white;background-color:#CA3730">Like Our Page <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        </a>
                    </button>
                    </div> -->
        
            <div class=" sub d-flex justify-content-center">
               
                <div class="subscribe" >
                        <h4 class="text-center" style="color:#CA3730">Subscribe to Our Newsletter</h4>
                   <p style="font-size:14px;">Subscribe to our newsletter in order to receive the latest new & articles. We promise we won't spam your inbox!
                    <div class="former shadow-sm p-3 mb-5 bg-whitesmoke rounded">
                        <center>
                                <img src="img/new/logochurch.png"  />
                        </center>
                       <p id="default" style="color:#CA3730;font-size:15px;"><br>

                           Please enter your valid Email address to receive updates concerning our new posts
                       </p>

                       <p  id="success" style="color:green;font-size:15px;">
                            You have successfully subscribed to our newsletter, you will receive updates about our programmes
                       </p>
                        <form  id="subscription">
                            <input type="email" id="subscribeInput" class="inputt form-control" style="width:100%" required  /><br>
                            <button type="submit" id="buttonnn" class="float-right buton" style="cursor: pointer"> Submit </button>
                        </form>
                        <br>
                    </div>
                   </p>
                </div>
            </div>
        </div>
      </div>

   
   
    <!-- ##### Blog Area End ##### -->

    <!-- ##### Subscribe Area Start ##### -->
 
    <!-- ##### Subscribe Area End ##### -->
    <footer class="footer-area bb hide_phone">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <p><b>Quick Links</b></p>
                    <div class="row">
                    <div class="col-sm-12">
                            <nav class="footer-menu" style="margin-top:-20px;" >
                                <ul>
                                    <li a href="/"><i class="fa fa-angle-double-right" style="font-size:14px;line-height:40px;" aria-hidden="true"></i> Home</a></li>
                                    <li><a href="/events class="fa fa-angle-double-right"  style="line-height:40px;" aria-hidden="true"></i> Event</a></li>
                                    <li><a href="/#about" ><i class="fa fa-angle-double-right"  style="line-height:40px;" aria-hidden="true"></i> About Us</a></li>
                                    <li><a href="/#gallery"><i class="fa fa-angle-double-right"  style="line-height:40px;" aria-hidden="true"></i> Gallery</a></li>
                                    <li><a href="/store"><i class="fa fa-angle-double-right"  style="line-height:40px;" aria-hidden="true"></i> Teachings</a></li>
                            </nav>
                        </div>
                       

                      
                    </div>
                    
                </div>
                <div class="col-sm-3">
                    <p><b>Get This</b></p>

                    <% for(var i = 0; i < 2; i++) { %>

                        <div class="single-latest-news" style="margin-top:-20px">
                            <a href="sermon/sermonPost/<%= sermons[i].id %>" style="font-size:14px; line-height: 40px;"><%= sermons[i].sermonTitle %></a>
                            <p style="font-size:14px;line-height: 40px;"> <i>By <%= sermons[i].sermonTeacher %> </i></p>
                        </div>

                    <% } %>



                    <!-- Single Latest News -->
                    <!-- <div class="single-latest-news">
                        <a href="sermons/Intentionalliving.mp3" style="font-size:14px; line-height: 40px;"> Intentional living</a>
                        <p style="font-size:14px;line-height: 40px;"> <i>By Pastor Dafe Richard</i></p>
                    </div> -->

                </div>
                <div class="col-sm-3">
                    <p><b>Contact Us</b></p>
                    <div class="contact-information" style="margin-top:-20px;">
                        <!-- <p><i class="fa fa-map-marker" aria-hidden="true"></i>FAITHBREED AUDITORIUM, ADJACENT ANCHORITE SCHOOL, FUTA JUNCTION</p> -->
                        <a href="callto:07061658590" style="font-size:14px;line-height: 50px;"><i class="fa fa-phone" style="color:#CA3730; margin-right:10px; " aria-hidden="true"></i>(+234)-706-1658-590</a><br>
                        <a href="mailto:info@faithbreed.org" style="font-size:14px;line-height: 50px;"><i class="fa fa-envelope" style="color:#CA3730; margin-right:10px"  aria-hidden="true"></i>info@faithbreed.org</a>
                        <p style="font-size:14px;line-height: 50px;" ><i class="fa fa-clock-o" style="font-size:14px;color:#CA3730;margin-right:10px;line-height: 40px;" aria-hidden="true"></i> Mon - Sun: 09.00am - 4.00pm</p>
                    
                    </div>
                </div>

                <div class="col-sm-3"  >
                        <p><b>Address </b></p>
                    <div style="margin-top:-10px;">
                             <p style="font-size:14px;line-height:25px;"> Faithbreed Auditiorium, Adjacent Anchorite School, FUTA Junction </p>
                    </div>

                </div>

               
        </div>
    </div>
        <div class="row" style="background-color:#120606;width:101.5%; padding:20px 0px" >
                <div class="col-sm-12" style="text-align:center">
                   <i style="line-height:30px;"> Now thanks be unto God, which always causeth us to triumph in Christ, and maketh manifest the savour of his knowledge by us in in every place. [2Cor 2  vs 14 ]</i>
                   <div class="footer-social-icon">
                        <a href="https://web.facebook.com/faithbreed.everywhere?_rdc=1&_rdr" style="padding:0px 10px;"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/pneumalife_cc"><i class="fa fa-twitter" style="padding:0px 10px;" aria-hidden="true"></i></a>
                        <a href="mailto:info@faithbreed.org"><i class="fa fa-envelope" style="padding:0px 10px;" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/p/Bx4mOHHHYYC/?igshid=18xjn6j11xr0b"><i style="padding:0px 10px;" class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                   
                    
                        </div>
                 </button>
                </div>
       

    </footer>
    <footer class="hide_main footerphone">
        <div class="">
            <div>
                    <button id="button1" class="">Quick Links
                            <div class="float-right" id="linkplus1" style="padding-right:20px"> <i class="fa fa-plus"></i></div>
                            <div class="float-right" id="linkminus1" style="padding-right:20px"> <i class="fa fa-minus"></i></div>
                        <br>
                                    <div class="col-sm-12" id="space1">
                                            <nav class="footer-menu" style="margin-top:0px;margin-left:-10px;" >
                                                <ul>
                                                    <li a href="/"><i class="fa fa-angle-double-right" style="font-size:14px;line-height:40px;" aria-hidden="true"></i> Home</a></li>
                                                    <li><a href="/events" class="fa fa-angle-double-right"  style="line-height:40px;" aria-hidden="true"></i> Event</a></li>
                                                    <li><a href="/#about" ><i class="fa fa-angle-double-right"  style="line-height:40px;" aria-hidden="true"></i> About Us</a></li>
                                                    <li><a href="/#gallery"><i class="fa fa-angle-double-right"  style="line-height:40px;" aria-hidden="true"></i> Gallery</a></li>
                                                    <li><a href="/store"><i class="fa fa-angle-double-right"  style="line-height:40px;" aria-hidden="true"></i> Teachings</a></li>
                                            </nav>
                                    </div>
                    </button>
                  
            </div>
            <div>
                    <button id="button2" class="">Get This
                            <div class="float-right" id="linkplus2" style="padding-right:20px"> <i class="fa fa-plus"></i></div>
                            <div class="float-right" id="linkminus2" style="padding-right:20px"> <i class="fa fa-minus"></i></div>
                            <div id="space2" style="font-weight:lighter">
                                    
                                <% for(var i = 0; i < 2; i++) { %>

                        <div class="single-latest-news" style="margin-top:-20px">
                            <a href="sermon/sermonPost/<%= sermons[i].id %>" style="font-size:14px; line-height: 40px;"><%= sermons[i].sermonTitle %></a>
                            <p style="font-size:14px;line-height: 40px;"> <i>By <%= sermons[i].sermonTeacher %> </i></p>
                        </div>

                    <% } %>
                
                                    <!-- Single Latest News -->
                                  
                            </div>
                    </button>
                  
            </div>
            <div>
                    <button id="button3" class="">Contact Us
                            <div class="float-right" id="linkplus3" style="padding-right:20px"> <i class="fa fa-plus"></i></div>
                            <div class="float-right" id="linkminus3" style="padding-right:20px"> <i class="fa fa-minus"></i></div>
                            <div id="space3" style="font-weight:lighter">
                                    <div class="contact-information" >
                                            <!-- <p><i class="fa fa-map-marker" aria-hidden="true"></i>FAITHBREED AUDITORIUM, ADJACENT ANCHORITE SCHOOL, FUTA JUNCTION</p> -->
                                            <a href="callto:07061658590" style="font-size:14px;line-height: 50px;"><i class="fa fa-phone" style="color:#CA3730; margin-right:10px; " aria-hidden="true"></i>(+234)-706-1658-590</a><br>
                                            <a href="mailto:info@faithbreed.org" style="font-size:14px;line-height: 50px;"><i class="fa fa-envelope" style="color:#CA3730; margin-right:10px"  aria-hidden="true"></i>info@faithbreed.org</a>
                                            <p style="font-size:14px;line-height: 50px;color:white" ><i class="fa fa-clock-o" style="font-size:14px;color:#CA3730;margin-right:10px;line-height: 40px;" aria-hidden="true"></i><span style="color:white"> Mon - Sun: 09.00am - 4.00pm</span></p>
                                        
                                    </div>
                            </div>
                    </button>
                  
            </div>
            <div>
                    <button id="button4" class="">Address
                            <div class="float-right" id="linkplus4" style="padding-right:20px"> <i class="fa fa-plus"></i></div>
                            <div class="float-right" id="linkminus4" style="padding-right:20px"> <i class="fa fa-minus"></i></div>
                            <div id="space4" style="font-weight:lighter">
                                    <div style="color:white" style="padding-top:80px;" ><br>
                                            <p style="font-size:14px; color:white"> Faithbreed Auditiorium, Adjacent Anchorite School, FUTA Junction </p>
                                   </div>
                            </div>
                    </button>
                  
            </div>
           
         
            
        </div>
        <div>
            <button >
                   <div style="width: 100%;padding:0px 20px;">
                        <p style="color:white;text-align:center;font-weight:lighter"> "Now thanks be unto God, which always causeth us to triumph in Christ, and maketh manifest the savour of his knowledge by us in every place."</p>
                       <center>
                            <div class="col-12 col-md-6">
                                    <div class="footer-social-icon">
                                        <a href="https://web.facebook.com/faithbreed.everywhere?_rdc=1&_rdr" style="padding:0px 10px;"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="https://twitter.com/pneumalife_cc"><i class="fa fa-twitter" style="padding:0px 10px;" aria-hidden="true"></i></a>
                                        <a href="mailto:info@faithbreed.org"><i class="fa fa-envelope" style="padding:0px 10px;" aria-hidden="true"></i></a>
                                        <a href="https://www.instagram.com/p/Bx4mOHHHYYC/?igshid=18xjn6j11xr0b"><i style="padding:0px 10px;" class="fa fa-instagram" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                       </center>
                   </div>
            </button>
        </div>
    </footer>
  
  
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-firestore.js"></script>
    <script src="js/auth.js"></script>
    <script src="js/newsletter.js"></script>
    <script src="js/outputevent.js"></script>
    <script>
    
    var button1 = document.getElementById('button1');
    var space1 = document.getElementById('space1');
    var linksminus = document.getElementById('linkminus')
    var linksplus = document.getElementById('linksplus');
    but(button1,space1,linkplus1,linkminus1);

    var button2 = document.getElementById('button2');
    var space2 = document.getElementById('space2');
    var linksminus2 = document.getElementById('linkminus2')
    var linksplus2 = document.getElementById('linksplus2');
    but(button2,space2,linkplus2,linkminus2);

    var button3 = document.getElementById('button3');
    var space3 = document.getElementById('space3');
    var linksminus3 = document.getElementById('linkminus3')
    var linksplus3 = document.getElementById('linksplus3');
    but(button3,space3,linkplus3,linkminus3);

    var button4 = document.getElementById('button4');
    var space4 = document.getElementById('space4');
    var linksminus4 = document.getElementById('linkminus4')
    var linksplus4 = document.getElementById('linksplus4');
    but(button4,space4,linkplus4,linkminus4);

    function but (parbut, parspace,linkminus,linkplus){
        parbut.addEventListener('click', ()=>{
            if(parspace.style.display == 'block'){
                parspace.style.display='none';
                parspace.style.WebkitTransition = "all 2s"
                linkminus.style.display='block';
                linkplus.style.display = 'none';
            }else{
                parspace.style.display='block';
                linkminus.style.display='none';
                linkplus.style.display = 'block';
               
            }
        
            // alert('hello');
        })
    }
    
    </script>
</body>

</html>